/* Body alignment */
body {
  display: flex;
  justify-content: center;
}

/* HTML and body padding and margins https://stackoverflow.com/questions/6464592/how-to-align-entire-html-body-to-the-center */
html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

/* Form styling */
form {
  width: 80%; /* Responsive */
  background-color: #394543;
  padding: 1rem;
  border-radius: 2rem;
  margin: 2rem auto;
  display: flex;
  flex-direction:column;
}

/* Background styling */
body {
  background-image: url("../images/grado-headphones.jpg");
  background-position: center;
}

/* Font and font size for h1 */
h1 {
  font-family: 'Nabla', Arial, sans-serif;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  padding: 1rem
}

/* Font for p */
p {
  font-family: 'Quantico', Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #ffe456;
  margin-bottom: 1rem;
  text-align: center;
}

label {
  font-family: 'Quantico', Helvetica, sans-serif;
  color: #ffe456;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 100%;
}

/* Styling for input fields */
input[type="email"],
input[type="text"],
input[type="password"],
select {
  font-family: 'Quantico', Helvetica, sans-serif;
  color: #191a1b;
  border-radius: 0.35rem;
  font-size: 1rem;
  padding: 0.5rem;
  width: 80%;
  cursor: pointer;
  border: 1px solid #000000;
  text-align: center;
  display:block;
  margin-bottom: 0.5rem;
}

/* Wrapper to center the Show button */
.show-button-wrapper {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

/* Center the Show button */
.show-hide {
  background-color: #394543;
  color: #ffe456;
  font-family: 'Quantico', Helvetica, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  border-radius: 0.4rem;
  display: block;
  width: auto;
}

/*
.show-hide:hover {
  background-color: #e6cf4e;
}
*/

/* Dropdown menu styling */
select {
  font-size: 1rem;
  padding: 0.2rem;
}

/* Submit button styling */
input[type="submit"] {
  color: #000000;
  font-family: 'Quantico', Helvetica, sans-serif;
  border-radius: 0.35rem;
  font-size: 1.5rem;
  width: 60%;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #ffe456;
  border: none;
  display: block;
  margin: 0.5rem auto;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
  body {
    flex-direction: column;
    justify-content: flex-start;
  }

  form {
    width: 60%;
    padding: 1rem;
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  p {
    font-size: 2rem;
  }

  label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"],
  select {
    font-size: 1rem;
    padding: 0.75rem;
    width: 80%;
    margin-bottom: 1rem;
  }

  input[type="submit"] {
    font-size: 1.5rem;
    width: 70%;
  }

  select {
    margin-top: 1rem;
  }

  .show-hide {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .show-button-wrapper {
    display: flex;
    justify-content: center;
    margin: 0.1rem
  }

}


/* Desktop */
@media screen and (min-width: 1024px) {
  body {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 6rem;
  }

  form {
    width: 50%;
    padding: 1rem;
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  p {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p:last-of-type {
    margin-bottom: 4rem;
  }

  label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"],
  select {
    font-size: 1rem;
    padding: 0.75rem;
    width: 60%;
    margin-bottom: 1rem;
  }

  input[type="submit"] {
    font-size: 1.5rem;
    width: 50%;
  }

  input[type="submit"] {
    padding: 0.5rem;
    font-size: 1.25rem
  }

  select {
    margin-top: 1rem;
  }

  .show-hide {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .show-button-wrapper {
    display: flex;
    justify-content: center;
    margin: 0.1rem
  }
}
