/* Body alignment */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HTML and body padding and margins */
html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* Background styling */
body {
  background-image: url("../images/grado-headphones.jpg");
  background-position: center;
  background-size: cover;
}

/* Font and font size for h1 */
h1 {
  font-family: 'Nabla', Arial, sans-serif;
  font-size: 8rem;
  margin-bottom: 5rem;
  text-align: center;
}

/* Font for p */
p {
  font-family: 'Quantico', Helvetica, sans-serif;
  font-size: 3rem;
  color: #ffe456;
  margin-bottom: 2rem;
  text-align: center;
}

/* Form styling */
form {
  width: 80%; /* Responsive */
  background-color: #394543;
  padding: 4rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
}

label {
  font-family: 'Quantico', Helvetica, sans-serif;
  color: #ffe456;
  font-size: 3rem;
  display: block;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

/* Styling for input fields */
input[type="email"],
input[type="text"],
input[type="password"],
select {
  font-family: 'Quantico', Helvetica, sans-serif;
  color: #191a1b;
  border-radius: 0.35rem;
  font-size: 3rem;
  padding: 2rem;
  width: 80%;
  cursor: pointer;
  border: 1px solid #000000;
  text-align: center;
  display:block;
  margin:0 auto;
  margin-bottom: 2rem;
}

/* Dropdown menu styling */
select {
  font-size: 3rem;
  padding: 1rem;
}

/* Submit button styling */
input[type="submit"] {
  color: #000000;
  font-family: 'Quantico', Helvetica, sans-serif;
  border-radius: 0.35rem;
  font-size: 3.5rem;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  background-color: #ffe456;
  border: none;
  display: block;
  margin: 2rem auto;
}

/* Wrapper to center the Show button */
.show-button-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

/* Center the Show button */
.show-hide {
  background-color: #394543;
  color: #ffe456;
  font-family: 'Quantico', Helvetica, sans-serif;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  border: none;
  display: block;
  width: auto;
}