<style>
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
</style>

/* body alighment */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HTML and body padding and margins */
html, body {
  margin: 0;
  padding 0;
  box-sizing: border-box;
  height: 100%; 
  width: 100%;
}

/* background styling */
body {
  background-color: #07A873;
}

/* font and font size for h1 */
h1 {
  font-family: 'Nabla', sans-serif;;
  font-size: 2.5rem;
}

/* font for p */
p {
  font-family: 'Quantico', sans-serif;
}

/* form styling */
form {
  max-width: 33rem; /* form box width */
  width: 100%;  
  background-color: #394543;
}